@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,400&display=swap');
$primary-color: #ffcc00;

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

body{
    width: 100vw;
    height: 100vh;

    .container{
        .navigation{
            .nav-list{
                list-style: none;
                display: flex;
                background: $primary-color;

                .nav-item{
                    padding: 10px 15px;
                    
                    .nav-link{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;

                        &:hover, &:focus{
                            font-weight: 700;
                        }
                    }
                    .active{
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
        .heading {
            margin: 25px 0px;
            padding: 10px;
            justify-content: center;
            text-align: center;
        }

       .input-container{
           display: flex;
           justify-content: center;
           align-items: center;
           margin: 15px;

           label{
               font-size: 18px;
               padding: 0px 10px;
               line-height: 1.5rem;
           }

           .side-input{
                line-height: 1.5rem;
                font-size: 18px;
                width: 500px;
                padding: 5px;
                outline: none;
           }
       }

       .btn-container{
           display: flex;
           padding: 15px;
           justify-content: center;
           align-items: center;

        #hypotenuse-btn{
            padding: 8px 20px;
            outline: none;
            border: none;
            border-radius: 0.5rem;
            letter-spacing: 2px;
            background: $primary-color;
            color: #fff;
            margin-bottom: 10px;

            &:hover, &:focus{
                border: 2px solid $primary-color;
                color: $primary-color;
                background: #fff;
            }
        }
    }

    #output-side{
        display: flex;
        padding: 15px 25px;
        justify-content: center;
        align-items: center;
    }

    }
}