@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

body .container .navigation .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffcc00;
}

body .container .navigation .nav-list .nav-item {
  padding: 10px 15px;
}

body .container .navigation .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

body .container .navigation .nav-list .nav-item .nav-link:hover, body .container .navigation .nav-list .nav-item .nav-link:focus {
  font-weight: 700;
}

body .container .navigation .nav-list .nav-item .active {
  color: #fff;
  font-weight: 700;
}

body .container .heading {
  margin: 25px 0px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .container .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

body .container .input-container label {
  font-size: 18px;
  padding: 0px 10px;
  line-height: 1.5rem;
}

body .container .input-container .side-input {
  line-height: 1.5rem;
  font-size: 18px;
  width: 500px;
  padding: 5px;
  outline: none;
}

body .container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .btn-container #hypotenuse-btn {
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  background: #ffcc00;
  color: #fff;
  margin-bottom: 10px;
}

body .container .btn-container #hypotenuse-btn:hover, body .container .btn-container #hypotenuse-btn:focus {
  border: 2px solid #ffcc00;
  color: #ffcc00;
  background: #fff;
}

body .container #output-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=hypotenuse.css.map */