@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,400&display=swap');
$primary-color: #ffcc00;

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

body{
    width: 100vw;
    height: 100vh;

    .container{
        .navigation{
            .nav-list{
                list-style: none;
                display: flex;
                background: $primary-color;

                .nav-item{
                    padding: 10px 15px;
                    
                    .nav-link{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;

                        &:hover, &:focus{
                            font-weight: 700;
                        }
                    }
                    .active{
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
        .heading {
            margin: 25px 0px;
            padding: 10px;
            justify-content: center;
            text-align: center;
        }

        .main{
            display: flex;
            flex-direction: column;
            // width: 700px;
            align-items: center;
            justify-content: center;

            label{
                font-size: 18px;
                padding: 5px;
            }
            input{
                width: 500px;
                padding: 5px 10px;
                margin-bottom: 5px;
                outline: none;
                line-height: 1.5rem;
                font-size: 14px;
            }
            #istriangle-btn{
                margin: 10px 0px;
                padding: 10px 25px;
                font-size: 14px;
                border: none;
                border-radius: 0.5rem;
                color: #fff;
                background: $primary-color;
                letter-spacing: 2px;

                &:hover, &:focus{
                    color: $primary-color;
                    transition: 0.2s;
                    background: #fff;
                    border: 2px solid $primary-color;
                }

            }

            #output-box{
                margin-top: 10px;
                padding: 25px 50px;
                font-size: 18px;
            }
        }

    }
}