$primary-color: #1d3557;
$font-color: #fff;

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container .wrapper{
    color: $font-color;
    display: flex;
    width: 50vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 50px;
    padding: 25px;
    letter-spacing: 1px;
    background: $primary-color;
    border-radius: 1rem;
    
    h1{
        margin: 0px 5px;
        font-style: italic;
        text-align: center;  
    }

    p{  text-align: left;
        padding: 10px;
        margin: 0px 5px;
        line-height: 1rem;
    }

    input{
        align-items: center;
        width: 70%;
        padding: 10px;
        outline: none;
        margin: 5px 0px 10px 5px;
    }

    .button{
        padding: 0.5rem 2.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: $font-color;
        color: #000;
        text-align: center;
        margin: 0.5rem 0rem;
     

        &:hover{
            background-color: #457b9d;
            opacity: 0.7;
            color:$font-color;
            border: 1px solid $font-color
        }

    }

    .table .noteReturn{
        caption{
            margin: 5px 0 20px;
        }
        tr{
            
            th{
                padding: 5px 20px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;
               
            }
            td{
                text-align: center;
                padding: 5px 20px;
                border: 1px solid black;
                border-collapse: collapse;
                
            }
        }
    }
}
