* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container .wrapper {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 50px;
  padding: 25px;
  letter-spacing: 1px;
  background: #1d3557;
  border-radius: 1rem;
}

.container .wrapper h1 {
  margin: 0px 5px;
  font-style: italic;
  text-align: center;
}

.container .wrapper p {
  text-align: left;
  padding: 10px;
  margin: 0px 5px;
  line-height: 1rem;
}

.container .wrapper input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  padding: 10px;
  outline: none;
  margin: 5px 0px 10px 5px;
}

.container .wrapper .button {
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 0.5rem 0rem;
}

.container .wrapper .button:hover {
  background-color: #457b9d;
  opacity: 0.7;
  color: #fff;
  border: 1px solid #fff;
}

.container .wrapper .table .noteReturn caption {
  margin: 5px 0 20px;
}

.container .wrapper .table .noteReturn tr th {
  padding: 5px 20px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.container .wrapper .table .noteReturn tr td {
  text-align: center;
  padding: 5px 20px;
  border: 1px solid black;
  border-collapse: collapse;
}
/*# sourceMappingURL=style.css.map */