@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

body .container .navigation .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffcc00;
}

body .container .navigation .nav-list .nav-item {
  padding: 10px 15px;
}

body .container .navigation .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

body .container .navigation .nav-list .nav-item .nav-link:hover, body .container .navigation .nav-list .nav-item .nav-link:focus {
  font-weight: 700;
}

body .container .navigation .nav-list .nav-item .active {
  color: #fff;
  font-weight: 700;
}

body .container .heading {
  margin: 25px 0px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .container .quiz-form .questionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 50px;
}

body .container .quiz-form .questionContainer label {
  padding: 5px;
}

body .container #answer-btn {
  margin: 25px 25px;
  padding: 10px 25px;
  font-size: 14px;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background: #ffcc00;
  letter-spacing: 2px;
}

body .container #answer-btn:hover, body .container #answer-btn:focus {
  color: #ffcc00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
  border: 2px solid #ffcc00;
}

body .container #output-quiz {
  margin: 10px 25px;
}
/*# sourceMappingURL=quiz.css.map */